.cart-dropdown {
    overflow-y: auto;
    position: absolute;
    top: 80px;
    right: 20px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    padding-bottom: 0;
    width: 350px;
    max-height: 450px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    .cart-footer {
      display: flex;
      position: sticky;
      bottom: 0;
      background: white;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 10px;
    }
    h3 {
      font-size: 16px;
      color: var(--color-text);
      font-family: var(--font-family);

      #cart-title {
        font-size: 16px;
        color: var(--color-text);
        font-weight: bold;
        line-height: var(--line-height-base);
      }
      #cart-count {
        font-size: 16px;
        color: var(--color-text);
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-base);
      }
    }
    .empty-cart {
      text-align: center;
      font-size: 14px;
      color: #888;
    }
    #attributes {
      width: 175px;
    }
    .cart-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #eee;
      padding: 10px 0;
      font-size: 14px;

      h3 {
        font-size: 18px;
        color: var(--color-text);
        font-family: var(--font-family);
        font-weight: var(--font-weight-light);
        line-height: var(--line-height-base);
      }

      p {
        font-size: 16px;
        font-family: var(--font-family);
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-base);
        color: var(--color-text);
      }
      .attribute-group {
        display: flex;
        align-items: baseline;
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;

        .attribute-label {
          font-family: var(--font-family);
          font-weight: var(--font-weight-normal);
          font-size: 14px;
          line-height: 16px;
          color: var(--color-text);
        }
        p {
          margin: 0;
          font-weight: bold;
        }

        .attribute-options {
          display: flex;
          gap: 8px;
          margin-left: 10px;
          flex-wrap: wrap;
        }
        .text-option {
          font-family: var(--font-family-source-sans-pro);
          font-weight: var(--font-weight-normal);
          font-size: 14px;
          line-height: 16px;
          color: var(--color-text);
          min-width: 30px;
          height: 24px;
          border: 1px solid var(--color-secondary);
          padding-left: 5px;
          padding-right: 5px;
          text-align: center;
          line-height: 24px;

          background: white;

          &.selected {
            border: 2px solid var(--color-secondary);
            background-color: var(--color-secondary);
            color: white;
          }
        }

        .attribute-option {
          min-width: 30px;
          height: 24px;
          border: 1px solid var(--color-secondary);

          text-align: center;
          line-height: 24px;

          background: white;

          &.selected {
            border: 2px solid var(--color-secondary);
            background-color: var(--color-secondary);
            color: white;
          }
        }

        /* ✅ Fix color swatch display */
        .swatch-option {
          width: 24px;
          height: 24px;

          border: 1px solid transparent;

          &.selected {
            border: 3px solid var(--color-primary);
          }
        }
      }

      .cart-item-quantity {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        button {
          background: none;
          border: 1px solid #333;
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }

      img {
        width: 100px;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .total {
      font-size: 16px;
      font-weight: var(--font-weight-roboto-medium);
      line-height: 18px;
      text-align: right;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-top: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .amount {
        font-family: var(--font-family);
        font-weight: var(--font-weight-bold);
        font-size: 16px;
        line-height: var(--line-height-large);
      }
    }

    .place-order {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
      height: 43px;
      font-size: 14px;
      text-transform: uppercase;
      background: var(--color-primary);
      color: white;
      border: none;
      cursor: pointer;
    }
  }